<div class="login" id="bandLogin">
  <h2>Band Login</h2>
  <form class="bandForm" name="signupForm" ng-submit="bandlogin()">
    <h3>Username</h3>
    <input class="fx-fade-normal fx-speed-700" type="text" ng-model="user.username">
    <h3>Password</h3>
    <input class="fx-fade-normal fx-speed-700" type="password" ng-model="user.password">
    <button ui-sref="admin.band({bandname: user.username})">Login</button>
  </form>
  <div class="bottomDiv">
    <a href="#/signup" class="signin">Need to Signup First?<strong>Signup</strong> ...</a>
  </div>
  <!-- <button ng-click="">Admin</button> -->
</div>  