<div class="signup" id="bandSignup">
  <h2>Band Signup</h2>
  <form class="bandForm" name="signupForm" ng-submit="bandsignup()">
    Username
    <input class="fx-fade-normal fx-speed-700" type="text" ng-model="user.username">
    Band/Artist Name
    <input class="fx-fade-normal fx-speed-700" type="text" ng-model="user.bandname">
    Email Address
    <input class="fx-fade-normal fx-speed-700" type="email" ng-model="user.email">
    City
    <input class="fx-fade-normal fx-speed-700" type="text" ng-model="user.city">
    Genre(s)
    <br>
    Rock
    <input class="genre fx-fade-normal fx-speed-700" id="Rock" type="checkbox" ng-model="user.rock">
    Rap
    <input class="genre fx-fade-normal fx-speed-700" id="Rap" type="checkbox" ng-model="user.rap">
    Punk
    <input class="genre fx-fade-normal fx-speed-700" id="Punk" type="checkbox" ng-model="user.punk">
    Folk
    <input class="genre fx-fade-normal fx-speed-700" id="Folk" type="checkbox" ng-model="user.folk">
    <br>
    R&B
    <input class="genre fx-fade-normal fx-speed-700" id="R&B" type="checkbox" ng-model="user.rnb">
    Experimental
    <input class="genre fx-fade-normal fx-speed-700" id="Experimental" type="checkbox" ng-model="user.experimental">
    Classical
    <input class="genre fx-fade-normal fx-speed-700" id="Classical" type="checkbox" ng-model="user.classical">
    <br>
    Other
    <input class="genre other fx-fade-normal fx-speed-700" id="Other" type="text" ng-model="user.other">
    <br>
    Password
    <input class="fx-fade-normal fx-speed-700" type="password" ng-model="user.password">
    <button ui-sref="admin.band({bandname: user.bandname})" ng-click="bandsignup()">signup</button>
  </form>
  <div class="bottomDiv">
    <a href="#/login" class="signin">Already have an account? <strong>Signin</strong> ...</a>
  </div>
  <!-- <button ng-click="">Admin</button> -->
</div>