<div class="container login">

  <div ng-include="'components/navbar/navbar.html'"></div>
  <section class="questions fx-fade-left-big fx-speed-400" ng-if="chosen">
    <div class="banddiv block">
      <h1><a href="#/login/band" ng-click="goBand()">Are you logging in as a band?</a></h1>
    </div>
    <div class="venuediv block">
     <h1><a href="#/login/venue" ng-click="goVenue()">Or are you logging in as a venue?</a></h1>
    </div>
  </section>

  <div ui-view></div>

  <div class="footer">
    <p>Brought to you by <a href="https://twitter.com/wesleytate">@wesleytate</a></p>
  </div>

</div>
