<div class="login" id="venueLogin">
  <form class="venueForm" name="signupForm" ng-submit="login()">
    <h3>Username</h3>
    <input type="text" ng-model="user.username">
    <h3>Password</h3>
    <input type="password" ng-model="user.password">
    <button ui-sref="admin.venue({venuename: user.venuename})">Login</button>
  </form>
  <div class="bottomDiv">
    <a href="#/signup" class="signin">Need to Signup First?<strong>Signup</strong> ...</a>
  </div>
  <!-- <button ng-click="">Admin</button> -->
</div>  