<div class="signup" id="venueSignup">
  <h2>Venue Signup</h2>
  <form class="bandForm" name="signupForm" ng-submit="venuesignup()">
    Username
    <input class="fx-fade-normal fx-speed-700" type="text" ng-model="user.username">
    Venue Name
    <input class="fx-fade-normal fx-speed-700" type="text" ng-model="user.venuename">
    Email Address
    <input class="fx-fade-normal fx-speed-700" type="email" ng-model="user.email">
    City
    <input class="fx-fade-normal fx-speed-700" type="text" ng-model="user.city">
    Capacity
    <input class="fx-fade-normal fx-speed-700" type="number">
    <br>
    Password
    <input class="fx-fade-normal fx-speed-700" type="password">
    <button ui-sref="admin.venue({venuename: user.venuename})">signup</button>
  </form>
  <div class="bottomDiv">
    <a href="#/login" class="signin">Already have an account? <strong>Signin</strong> ...</a>
  </div>
</div>