<div class="login" id="venueLogin">
  <h2>Venue Login</h2>
  <form class="venueForm" name="signupForm" ng-submit="venuelogin()">
    <h3>Username</h3>
    <input class="fx-fade-normal fx-speed-700" type="text" ng-model="user.username">
    <h3>Password</h3>
    <input class="fx-fade-normal fx-speed-700" type="password" ng-model="user.password">
    <button ui-sref="admin.venue({venuename: user.username})">Login</button>
  </form>
  <div class="bottomDiv">
    <a href="#/signup" class="signin">Need to Signup First?<strong>Signup</strong> ...</a>
  </div>
  <!-- <button ng-click="">Admin</button> -->
</div>  