<img src="../assets/images/An-argument-for-live-music1.jpg" class="headerimg">
<h1 class="bodyTitle">
  Find Talent. Get Heard.
</h1>
<h6 class="subtitleText">
  Whether your a band trying to book a gig, or a venue looking to fill the house, you need a space to connect. 
  <br>
  <a href="#/signup" class="titleLink">Sign up</a> today to book your next act.
</h6>
<section class="bodyText">
  <h3>
    ALL OF THE THINGS
  </h3>
  <p>Mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked, i don't have to lie. but don't think of me as an idiot. here. put that in your report!" and "i may have found a way out of here. i did the same thing to gandhi, he didn't eat for three weeks. i now issue a new commandment: thou shalt do the dance. you measure yourself by the people who measure themselves by you. cities fall but they are rebuilt. heroes die but they are remembered. that tall drink of water with the silver spoon up his ass. don't p!ss down my back and tell me it's raining. ever notice how sometimes you come across somebody you shouldn't have f**ked with? well, i'm that guy. i once heard a wise man say there are no perfect men. only perfect intentions. let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. this is the ak-47 assault rifle, the preferred weapon of your enemy; and it makes a distinctive sound when fired at you, so remember it.
  </p>
  <p>I did the same thing to gandhi, he didn't eat for three weeks. bruce... i'm god. well, do you have anything to say for yourself? no, this is mount everest. you should flip on the discovery channel from time to time. but i guess you can't now, being dead and all. the man likes to play chess; let's get him some rocks. i don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. man's gotta know his limitations. well, do you have anything to say for yourself? man's gotta know his limitations. cities fall but they are rebuilt. heroes die but they are remembered. no, this is mount everest. you should flip on the discovery channel from time to time. but i guess you can't now, being dead and all. i don't think they tried to market it to the billionaire, spelunking, base-jumping crowd.
  </p>
</section>