<section class="searchBody">
  <div id="searchInputDiv">
    <h2>Find a Venue</h2>
    <form>
      <input class="searchInline" type="search" ng-model="searchText">
      <button>Search</button>
    </form>
  </div>
</section>

<div class="searchresults" ng-repeat="venue in venues | filter : searchText">
  <a href="{{'#/venues/' + venue.name.split(' ').join('')}}"><h3>{{venue.name}}</h3></a>
  <a href="{{'#/venues/' + venue.name.split(' ').join('')}}"><img src="{{venue.picture}}"></a>
  <h4>Bio</h4>
  <p>
  {{venue.bio}}
  </p>
  <h4>City</h4>
  {{venue.city}}
  <h4>Capacity</h4>
  {{venue.capacity}}
</div>