<!-- <div class="container" ng-controller="SearchController"> -->
<div class="container">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div ui-view></div>
  <button class="sendusamessage" ng-click="messageLand()">Send us a message</button>
  <div ng-init="toggleDays()" class="cal"></div>
  <!-- <div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn btn-success" ng-click="changeView('agendaDay', myCalendar)">Day</button>
        <button class="btn btn-success" ng-click="changeView('agendaWeek', myCalendar)">Week</button>
        <button class="btn btn-success" ng-click="changeView('month', myCalendar)">Month</button>
    </div>
</div>
<div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar">
</div>

<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
    <h4>{{alertMessage}}</h4>
</div>

<ul class="unstyled">
    <li ng-repeat="e in events | filter:currentDate">
        <div class="alert alert-info">
            <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
            <b> {{e.title}}</b> - {{e.start | date:"MMM dd"}}
        </div>
    </li>
</ul> -->
<!-- <div ui-calendar="uiConfig" class="span8 calendar" ng-model="eventSources"></div> -->
<!-- <div ui-calendar="calendarOptions" ng-model="eventSources" calendar="myCalendar"> -->
</div>
<script>
  $(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('.cal').fullCalendar({
      // put your options and callbacks here
      dayClick: function(date, jsEvent, view) {
        // alert('Clicked on: ' + date.format());
        // alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
        // alert('Current view: ' + view.name);
        // change the day's background color just for fun
        // $(this).css('background-color', 'red');
        this.count = this.count ? this.count : 0;
        function badPractice() {
          var $body = angular.element(document.body);   // 1
          var $rootScope = $body.scope().$root;         // 2
          $rootScope.$apply(function () {               // 3
              console.log($rootScope);
          });
        }
        badPractice();
        if (this.count % 2 === 0) {
          $(this).css('background-color', '#75E69E');
          $(this).css('text-align', 'center');
          var text = 'Available';
          $(this)[0].childNodes[0].childNodes[1].childNodes[0].innerText = text;
        } 
        // else if (this.count % 2 === 0) {
        //   $(this).css('background-color', 'indianred');
        //   $(this).css('text-align', 'center');
        //   var text = 'Not Available';
        //   $(this)[0].childNodes[0].childNodes[1].childNodes[0].innerText = text;
        // } 
        else {
          $(this).css('background-color', '#fafafa');
          $(this).css('text-align', 'center');
          var text = '';
          $(this)[0].childNodes[0].childNodes[1].childNodes[0].innerText = text;
        }
        $(this.count++);
      },
      dayRender: function(date, cell) {
        var today = new Date();
        console.log(date);
        if (date.getDate() % Math.floor(Math.random()*20) === 0) {
          cell.css('background-color', '#75E69E');
          cell.css('text-align', 'center');
          var text = 'Available';
          cell[0].childNodes[0].childNodes[1].childNodes[0].innerText = text;
        }
      }
    });
  });
</script>
