.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px

  img.pull-right
    width 50px
    
// custom css
html, .view
  background-color indianred
  
.body
  background-color black
  margin-top -20px

.container
  padding-right 0px
  padding-left 0px
  background-color #fafafa

.bodyText
  background-color #fafafa
  margin-top 0px
  padding 20px
  font-family courier
  
  h3
    text-align center
    padding-bottom 20px  
  
.headerimg
  width 100%
  opacity 0.6
  margin-top -120px

.bodyTitle
  margin-bottom 0px
  color #fafafa
  position absolute
  left 0
  text-align center
  top 250px
  width 100%
  font-size 5em

.subtitleText
  color #fafafa
  position absolute
  left 0
  text-align center
  width 100%
  font-size 1.4em
  top 340px
  font-weight 100

.titleLink
  color #fafafa
  
.signup
  background-color #fafafa

  input
    display block
    margin-bottom 10px
    width 20em
  
  .genre
    display inline-block
    width 30px
    
  .other
    width 10em
  
  .signin
    margin-bottom 50px
  
  .bandForm
    padding-bottom 20px
  
  .footer
    position absolute
    bottom 0
  
  .gap
    margin-bottom -10px
    color #fafafa
    

.banddiv, .venuediv
  padding 100px
  text-align center
  
  a
    text-decoration none

.banddiv
  margin-top -20px
  background-color white
  
  a
    color black
  
.venuediv
  background-color black
  
  a
    color white

#bandSignup, #venueSignup
  padding-left 50px

  .bottomDiv
    padding-bottom 50px


.login
  .block
    display block
    width 50%
    min-height 400px
  .block:nth-child(1)
    float left
  .block:nth-child(2)
    float right
    margin-top -20px

.searchresults
  padding 0 20px
  padding-bottom 20px
  
.venuebody
  padding 0 20px
  padding-bottom 20px
  
.bandbody
  padding 0 20px
  padding-bottom 20px

.searchBody
  background-color #090909
  margin-top -20px
  height 300px

  input
    width 50%
    display block
    margin 0 auto
    border-radius 3px

  #searchInputDiv
    padding-top 80px
    
    h2
      text-align center
      color grey

    button
      margin 0 auto
      display block
      margin-top 8px
      border-radius 2px

.cal
  margin-top 50px
  margin-bottom 50px


.adminpanel 
  background-color #fafafa
  margin-top -20px
  padding 40px
  
  .cal 
    margin-top 0px

.message
  border 1px solid black
  padding 5px

.bandmessage
  width 50%
  height 200px
  
.bandForm
  padding 20px
  
.venueForm
  padding 20px
  
.sendusamessage 
  margin-left 20px


// injector
// endinjector
